<h2 mat-dialog-title>Добавить клиента</h2>
<mat-dialog-content>
    <form action="#" [formGroup]="reactiveForm">
        <div class="columns">
            <mat-form-field class="full_width">
                <input formControlName="name" matInput placeholder="Название" />
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Город" formControlName="city_name" [matAutocomplete]="autoGroup">
                <mat-autocomplete #autoGroup="matAutocomplete">
                    <mat-option *ngFor="let c of filteredOptions | async" [value]="c.name">{{c.name}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="columns">
            <mat-form-field>
                <mat-select formControlName="business_area_id" placeholder="Сфера деятельности">
                    <mat-option *ngFor="let a of businessArea" [value]="a.id">{{ a.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full_width">
                <input formControlName="inn" matInput placeholder="ИНН" />
            </mat-form-field>
        </div>
        <div class="columns">
            <mat-form-field>
                <mat-select formControlName="raiting" placeholder="Рейтинг">
                    <mat-option [value]="10">10</mat-option>
                    <mat-option [value]="9">9</mat-option>
                    <mat-option [value]="8">8</mat-option>
                    <mat-option [value]="7">7</mat-option>
                    <mat-option [value]="6">6</mat-option>
                    <mat-option [value]="5">5</mat-option>
                    <mat-option [value]="4">4</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="1">1</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full_width">
                <input formControlName="address" matInput placeholder="Адрес" />
            </mat-form-field>
        </div>
        <div>
            <mat-checkbox formControlName="tenders">Участвует в тендерных закупках</mat-checkbox>
        </div>
        <div class="needs">
            <div>
                <input (change)="ChangeNeeds($event)" id="n_build" type="checkbox" [value]="0" />
                <label for="n_build"><mat-icon title="Монтаж">build</mat-icon></label>
            </div>
            <div>
                <input (change)="ChangeNeeds($event)" id="n_settings_input_component" type="checkbox" [value]="1" />
                <label for="n_settings_input_component"><mat-icon title="Комутация">settings_input_component</mat-icon></label>
            </div>
            <div>
                <input (change)="ChangeNeeds($event)" id="n_devices" type="checkbox" [value]="2" />
                <label for="n_devices"><mat-icon title="АСУ ТП">devices</mat-icon></label>
            </div>
            <div>
                <input (change)="ChangeNeeds($event)" id="n_flash_on" type="checkbox" [value]="3" />
                <label for="n_flash_on"><mat-icon title="Питание">flash_on</mat-icon></label>
            </div>
            <div>
                <input (change)="ChangeNeeds($event)" id="n_graphic_eq" type="checkbox" [value]="4" />
                <label for="n_graphic_eq"><mat-icon title="Частотники">graphic_eq</mat-icon></label>
            </div>
            <div>
                <input (change)="ChangeNeeds($event)" id="n_picture_in_picture" type="checkbox" [value]="5" />
                <label for="n_picture_in_picture"><mat-icon title="Шкафы">picture_in_picture</mat-icon></label>
            </div>
            <div>
                <input (change)="ChangeNeeds($event)" id="n_router" type="checkbox" [value]="6" />
                <label for="n_router"><mat-icon title="Модемы">router</mat-icon></label>
            </div>
            <div>
                <input (change)="ChangeNeeds($event)" id="n_gesture" type="checkbox" [value]="7" />
                <label for="n_gesture"><mat-icon title="Кабель">gesture</mat-icon></label>
            </div>
            <div>
                <input (change)="ChangeNeeds($event)" id="n_toys" type="checkbox" [value]="8" />
                <label for="n_toys"><mat-icon title="Двигатели">toys</mat-icon></label>
            </div>
            <div>
                <input (change)="ChangeNeeds($event)" id="n_vertical_align_center" type="checkbox" [value]="9" />
                <label for="n_vertical_align_center"><mat-icon title="Измерения">vertical_align_center</mat-icon></label>
            </div>
            <div>
                <input (change)="ChangeNeeds($event)" id="n_local_drink" type="checkbox" [value]="10" />
                <label for="n_local_drink"><mat-icon title="Пневматика">local_drink</mat-icon></label>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button [disabled]="reactiveForm.invalid" (click)="Submit()" mat-raised-button color="primary">Добавить</button>
    <button mat-button mat-dialog-close [mat-dialog-close]="null">Отмена</button>
</mat-dialog-actions>