:host {
    display:block;
}
ul {
    list-style: none;
    padding:0px;
    margin:0px;
}

ul > li {
    display: block;
    padding:10px 0px;
    border-bottom: 1px #e0e0e0 solid;
}
ul > li:last-child {
    border-bottom: none;
}

ul > li .date {
    margin-bottom:6px;
    position:relative;
}

ul > li .date button {
    display:none;
    position:absolute;
    top:-10px;
    right:0px;
}
ul > li:hover .date button {
    display:inline-block;
}
ul > li .date > span{
    display: inline-block;
    padding: 4px 10px;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 4px;
    width: 120px;
    text-align: center;
}