<ul *ngIf="comments.length > 0; else emptyComments">
  <li *ngFor="let c of comments">
    <div class="date">
      <span>{{ c.time | date:'dd.MM.yyyy HH:mm' }}</span>
      <button (click)="Delete(c)" class="remove" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="comment">{{ c.comment }}</div>
  </li>
</ul>
<ng-template #emptyComments>
  <p>Комментариев нет</p>
</ng-template>