<div class="row">
    <a class="client" [routerLink]="['/', model.id]" routerLinkActive="active">
      <span class="raiting">
        <i ngClass="{{model.getRaitingName()}}">{{ model.raiting }}</i>
      </span>
      <span class="name">{{ model.name }}</span>
      <span class="business_area">
        <img *ngIf="model.business_area_id !== null" src="/assets/icons/{{model.business_area_id}}.png" title="{{ GetBusinessAreaName() }}" /></span>
      <span class="inn">ИНН: {{ model.inn }}</span>
      <span class="city">{{ GetCityName() }}</span>
      <span class="needs">
          <mat-icon [ngClass]="{'on' : model.getStateIcon(0)}" title="Монтаж">build</mat-icon>
          <mat-icon [ngClass]="{'on' : model.getStateIcon(1)}" title="Комутация">settings_input_component</mat-icon>
          <mat-icon [ngClass]="{'on' : model.getStateIcon(2)}" title="АСУ ТП">devices</mat-icon>
          <mat-icon [ngClass]="{'on' : model.getStateIcon(3)}" title="Питание">flash_on</mat-icon>
          <mat-icon [ngClass]="{'on' : model.getStateIcon(4)}" title="Частотники">graphic_eq</mat-icon>
          <mat-icon [ngClass]="{'on' : model.getStateIcon(5)}" title="Шкафы">picture_in_picture</mat-icon>
          <mat-icon [ngClass]="{'on' : model.getStateIcon(6)}" title="Модемы">router</mat-icon>
          <mat-icon [ngClass]="{'on' : model.getStateIcon(7)}" title="Кабель">gesture</mat-icon>
          <mat-icon [ngClass]="{'on' : model.getStateIcon(8)}" title="Двигатели">toys</mat-icon>
          <mat-icon [ngClass]="{'on' : model.getStateIcon(9)}" title="Измерения">vertical_align_center</mat-icon>
          <mat-icon [ngClass]="{'on' : model.getStateIcon(10)}" title="Пневматика">local_drink</mat-icon>
      </span>
    </a>
    <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="ShowDialogUpdateClient()">Изменить</button>
          <button class="remove" mat-menu-item (click)="Delete()">Удалить</button>
        </mat-menu>
    </div>
</div>
