.row {
    display:grid;
    grid-template-columns: 1fr 40px;
}

a.client {
    display: block;
    color:#333;
    display: grid;
    grid-template-columns: 60px 1fr 70px 200px 240px 380px;
    text-decoration: none;
    padding:10px;

}
a.client:hover {
    color:#000;
}
span.raiting {
    padding-top:4px;
}
span.raiting i {
    padding: 2px 0px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    min-width: 30px;
    display: inline-block;
    font-style: normal;
}
span.raiting i.medium {
    background-color: #ececec;
}
span.raiting i.low {
    background-color: #ff7070;
    color:#fff;
}
span.raiting i.low_plus {
    background-color: #ffc770;
}
span.raiting i.hight_minus {
    background-color: #86c3b8;
    color:#fff;
}
span.raiting i.hight {
    background-color: #74cc7c;
    color:#fff;
}
span.name,
span.city {
    padding-top:5px;
}
span.city,
span.inn,
span.business_area {
    color:#999;
}
span.inn {
    padding-top:7px;
    font-size:12px;
}

span.business_area {
    position:relative;
}
span.business_area img {
    position: absolute;
    top: -6px;
    background-color: #2eb17c;
    padding: 4px;
    left: 10px;
    border-radius: 6px;
    max-width: 40px;
    max-height: 40px;
}

.menu {
    padding-top:2px;
    color:#777;
}