.needs {
    display:flex;
    justify-content:space-between;
    margin-top: 20px;
}
.needs > div label {
    cursor:pointer;
    color:#d0d0d0;
}
.needs > div label:hover {
    color:#929292;
}
.needs > div input:checked + label {
    color:#2eb17c;
}
.needs > div input:checked + label:hover {
    color:#018e55;
}
.needs > div input {
    display:none;
}