.needs .mat-icon {
    margin-right:10px;
    color:#d0d0d0;
    opacity:1;
    cursor: default;
}
.needs .mat-icon:hover {
    color:#929292;
}
.needs .mat-icon.on {
    color:#2eb17c;
}
.needs .mat-icon.on:hover {
    color:#018e55;
}