<ul *ngIf="contacts.length > 0; else emptyContacts">
  <li class="contact" *ngFor="let c of contacts">
    <app-contact-item (eventDelete)="OnDeleteContact($event)" [model]="c"></app-contact-item>
  </li>
</ul>
<ng-template #emptyContacts>
  <p>Контактов нет</p>
</ng-template>