ul {
    list-style: none;
    margin:0px;
    padding:0px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.contact {
    display: inline-block;
    padding:30px 30px 40px 30px;
    width:260px;
    min-height:100px;
    background-color: #fff;
    margin:10px 10px 0px 0px;
    border:2px #eef2f3 solid;
}
.contact:hover {
    border-color:#d8dee5;
}