<div id="description">
    <header>
      <div><a id="close" routerLink="/"><mat-icon>close</mat-icon></a></div>
      <div class="value name">{{ client?.name }}</div>
      <div class="business_area">
        <img *ngIf="client.business_area_id !== null" src="/assets/icons/{{client.business_area_id}}.png" title="{{ GetBusinessAreaName() }}" />
      </div>
      <div class="value inn">
        <span>ИНН: </span>
        <span>{{ client.inn ? client.inn : '&mdash;' }}</span>
      </div>
      <div class="value city">{{ GetCityName() }}</div>
      <div class="value needs">
          <mat-icon [ngClass]="{'on' : client?.getStateIcon(0)}" title="Монтаж">build</mat-icon>
          <mat-icon [ngClass]="{'on' : client?.getStateIcon(1)}" title="Комутация">settings_input_component</mat-icon>
          <mat-icon [ngClass]="{'on' : client?.getStateIcon(2)}" title="АСУ ТП">devices</mat-icon>
          <mat-icon [ngClass]="{'on' : client?.getStateIcon(3)}" title="Питание">flash_on</mat-icon>
          <mat-icon [ngClass]="{'on' : client?.getStateIcon(4)}" title="Частотники">graphic_eq</mat-icon>
          <mat-icon [ngClass]="{'on' : client?.getStateIcon(5)}" title="Шкафы">picture_in_picture</mat-icon>
          <mat-icon [ngClass]="{'on' : client?.getStateIcon(6)}" title="Модемы">router</mat-icon>
          <mat-icon [ngClass]="{'on' : client?.getStateIcon(7)}" title="Кабель">gesture</mat-icon>
          <mat-icon [ngClass]="{'on' : client?.getStateIcon(8)}" title="Двигатели">toys</mat-icon>
          <mat-icon [ngClass]="{'on' : client?.getStateIcon(9)}" title="Измерения">vertical_align_center</mat-icon>
          <mat-icon [ngClass]="{'on' : client?.getStateIcon(10)}" title="Пневматика">local_drink</mat-icon>
      </div>
    </header>
    <div id="body">
      <div id="contacts_list">
          <div class="descriptions">
            <div class="title_block">
                <button mat-mini-fab color="primary" (click)="ShowDialogUpdateClient()">
                    <mat-icon>edit</mat-icon>
                </button>
                <h2 class="title">Клиент</h2>
            </div>
            <div class="description_row">
                <div class="tenders" [ngClass]="{'tenders__on' : client.tenders === 'Y'}">
                    <span>Участвует в тендорных закупках</span>
                    <mat-icon *ngIf="client.tenders === 'Y'; else noTenders">done</mat-icon>
                    <ng-template #noTenders><mat-icon>clear</mat-icon></ng-template>
                </div>
                <div class="address">
                    <div *ngIf="client.address !== null">
                        <span>Адрес:</span>
                        <span class="address__value">{{ client.address }}</span>
                    </div>
                </div>
            </div>

          </div>
          <div class="title_block">
              <button mat-mini-fab color="primary" (click)="ShowDialogCreateContact()">
                  <mat-icon>add</mat-icon>
              </button>
              <h2 class="title">Контакты</h2>
          </div>
          <app-contacts-list [eventCreate]="eventCreateContact" *ngIf="client.id > 0" [model]="client"></app-contacts-list>
      </div>
      <div>
          <div class="title_block">
                <button mat-mini-fab color="primary" (click)="ShowDialogCreateComment()">
                    <mat-icon>add</mat-icon>
                </button>
                <h2 class="title">Комментарии</h2>
            </div>
          <app-comments [eventCreate]="eventCreateComment" *ngIf="client.id > 0" [model]="client"></app-comments>
      </div>
    </div>
</div>
