#description {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: #fff;
    z-index:9;
    display: grid;
    grid-template-rows: 60px 1fr;
    font-size:14px;
    overflow: auto;
}

header {
    box-sizing: border-box;
    background-color: #333;
    position: relative;
    display: grid;
    grid-template-columns: 80px 1fr 70px 240px 240px 450px;
    grid-gap: 20px;
    color:#f0f0f0;
    height:100%;
}
header > div {
    position: relative;
}
header > div.value {
    padding-top:22px;
}
header > div.business_area {
    padding-top:14px;
}
header > div.needs {
    padding-top:18px;
}
header > div > .button {
    margin-top:10px;
}

#close {
    background-color: #504141;
    color:#fff;
    width:100%;
    padding:9px 0px;
    font-size:14px;
    text-decoration: none;
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    text-align:center;
}
#close:hover {
    background-color: #ff3d00;
}
#close .mat-icon {
    font-size: 3em;
    margin-left: -15px;
}

#body {
    display: grid;
    grid-template-columns: 1fr 450px;
    color:#333;
    font-size:0.9em;
    height:100%;
}
#body > div {
    border-left:1px #e0e0e0 solid;
    overflow: auto;
    min-height: 500px;
    padding:20px;
}
#body > div:first-child {
    border-left:none;
}
#body > div#contacts_list {
    background-color: #f7f8f9;
}

.description_row {
    display:grid;
    grid-template-columns: 280px 1fr;
}
.address {
    padding-top:11px;
}
.address__value {
    padding-left:10px;
}
#body > div#contacts_list .descriptions {
    margin-bottom:40px;
}
#body > div#contacts_list .descriptions .tenders {
    color: #999;
    position:relative;
}
#body > div#contacts_list .descriptions .tenders > span {
    display:inline-block;
    padding-right:6px;
}
#body > div#contacts_list .descriptions .tenders .mat-icon {
    position:relative;
    top:7px;
}
#body > div#contacts_list .descriptions .tenders__on {
    color: #018e55;
}


#body .title {
    margin:8px 0px 20px 0px;
    padding:0px;
    font-size:1.8em;
    font-weight: normal;
}

#body .title_block {
    display:grid;
    grid-template-columns: 60px 1fr;
}