<button mat-icon-button class="menu" [matMenuTriggerFor]="appMenu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="ShowDialogUpdate()">Изменить</button>
    <button class="remove" mat-menu-item (click)="Delete()">Удалить</button>
</mat-menu>
<div class="name">{{ model.name }}</div>
<ul class="values">
  <li class="row" *ngFor="let v of model.values | contactSort">
    <div>
      <div [ngSwitch]="v.type">
          <i *ngSwitchCase="'phone'" class="material-icons">phone</i>
          <i *ngSwitchCase="'email'" class="material-icons">email</i>
      </div>
      <div class="value">{{ v.value }}</div>
    </div>
  </li>
</ul>
<div class="comment">{{ model.comment }}</div>
<div class="date_actual">
  <a (click)="ClickUpdateDate()">{{ model.date_actual | date:'dd.MM.yyyy' }}</a>
</div>