:host {
    position: relative;
    display: block;
    width:100%;
    height:100%;
}

.menu {
    position: absolute;
    top: -20px;
    right: -20px;
    color:#ccc;
}

.menu:hover {
    position: absolute;
    top: -20px;
    right: -20px;
    color:#333;
}

.name {
    font-size:1.4em;
    margin-bottom:20px;
}
ul.values {
    display:block;
    margin:0px;
    padding:0px;
}
li.row {
    display: block;
    width:100%;
    margin-bottom: 8px;
    border-bottom: 1px #e8e8e8 solid;
}
li.row:last-child {
    border-bottom: none;
}
li.row > div {
    position: relative;
    display: grid;
    grid-template-columns: 36px 1fr;
}
li.row div.value {
    padding-top:5px;
}

.comment {
    white-space: pre-wrap;
}

.date_actual {
    position: absolute;
    left: 0px;
    bottom: -30px;
    font-size: 12px;
}

.date_actual a {
    cursor: pointer;
    color: #3f51b5;
}
.date_actual a:hover {
    color: #333;
}