ul {
    list-style:none;
    margin:0px;
    padding:0px;
}

.values {
    padding-left:20px;
}
.values .buttons > button {
    margin-top:12px;
}

li {
    padding:4px 0px;
    color:#4b90bb;
}

li > div {
    display:grid;
    grid-template-columns: 40px 1fr 40px;
}

.value {
    padding-top:3px;
}
.remove {
    position: relative;
}
.remove a {
    position: absolute;
    top:0px;
    right:0px;
    cursor: pointer;
    color:#f44336;
}
.remove a:hover {
    color:#333;
}

.values form {
    display:grid;
    grid-gap:10px;
    grid-template-columns: 120px 1fr 32px;
}

.columns {
    grid-template-columns: 300px 1fr;
}