<h2 mat-dialog-title>Изменить контакт</h2>
<mat-dialog-content>
    <div class="columns">
        <div>
            <form action="#" [formGroup]="reactiveForm">
                <mat-form-field class="full_width">
                    <input formControlName="name" matInput placeholder="Название" />
                </mat-form-field>
                <mat-form-field class="full_width">
                    <textarea formControlName="comment" matInput placeholder="Короткий комментарий"></textarea>
                </mat-form-field>
            </form>
        </div>
        <div class="values">
            <div>
                <form action="#" [formGroup]="reactiveFormAddContact" (submit)="SubmitAddContact()">
                    <div>
                        <mat-form-field class="full_width">
                            <mat-select formControlName="type" placeholder="Тип">
                                <mat-option value="phone">Телефон</mat-option>
                                <mat-option value="email">E-mail</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full_width">
                            <input formControlName="value" matInput placeholder="Значение" />
                        </mat-form-field>
                    </div>
                    <div class="buttons">
                        <button mat-icon-button color="primary">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </form>
            </div>
            <ul>
                <li *ngFor="let v of data.values | contactSort">
                    <div>
                        <div [ngSwitch]="v.type">
                            <i *ngSwitchCase="'phone'" class="material-icons">phone</i>
                            <i *ngSwitchCase="'email'" class="material-icons">email</i>
                        </div>
                        <div class="value">{{ v.value }}</div>
                        <div class="remove">
                            <a (click)="DeleteContact(v)">
                                <mat-icon>delete</mat-icon>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button [disabled]="reactiveForm.invalid" (click)="Submit()" mat-raised-button color="primary">Сохранить</button>
    <button mat-button mat-dialog-close [mat-dialog-close]="null">Закрыть</button>
</mat-dialog-actions>