<h2 mat-dialog-title>Добавить комментарий</h2>
<mat-dialog-content>
    <form action="#" [formGroup]="reactiveForm">
        <div>
          <mat-form-field class="full_width">
            <textarea formControlName="comment" matInput placeholder="Короткий комментарий"></textarea>
          </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button [disabled]="reactiveForm.invalid" (click)="Submit()" mat-raised-button color="primary">Добавить</button>
    <button mat-button mat-dialog-close [mat-dialog-close]="null">Отмена</button>
</mat-dialog-actions>