<div id="filters">
  <form action="#" [formGroup]="filterForm">
    <div>
      <mat-form-field>
        <input formControlName="name" matInput placeholder="Название" />
      </mat-form-field>
    </div>
    <div>
        <mat-form-field>
          <mat-select formControlName="district_id" (selectionChange)="ChangeDistrict($event)" placeholder="Субъект">
            <mat-option [value]="0">Все</mat-option>
            <mat-option *ngFor="let c of districs" [value]="c.id">{{c.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    <div>
      <mat-form-field>
        <mat-select formControlName="region_id" (selectionChange)="ChangeRegion($event)" placeholder="Регион">
          <mat-option [value]="0">Все</mat-option>
          <mat-option *ngFor="let c of regions" [value]="c.id">{{c.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select formControlName="city_id" placeholder="Город">
          <mat-option [value]="0">Все</mat-option>
          <mat-option *ngFor="let c of cities" [value]="c.id">{{c.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select formControlName="tenders" placeholder="Участие в тендерах">
          <mat-option [value]="null">Все</mat-option>
          <mat-option [value]="true">Да</mat-option>
          <mat-option [value]="false">Нет</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Потребности" formControlName="needs" multiple>
          <mat-select-trigger>
            <span>Выбрано: </span>
            <span>{{ filterForm.controls.needs.value?.length }}</span>
          </mat-select-trigger>
          <mat-option [value]="0">Монтаж</mat-option>
          <mat-option [value]="1">Коммутация</mat-option>
          <mat-option [value]="2">АСУ ТП</mat-option>
          <mat-option [value]="3">Питание</mat-option>
          <mat-option [value]="4">Частотники</mat-option>
          <mat-option [value]="5">Шкафы</mat-option>
          <mat-option [value]="6">Модемы</mat-option>
          <mat-option [value]="7">Кабель</mat-option>
          <mat-option [value]="8">Двигатели</mat-option>
          <mat-option [value]="9">Измерения</mat-option>
          <mat-option [value]="10">Пневматика</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div id="download">
    <!--<a href="/api/downloads/?district_id={{filterForm.controls.district_id.value}}&region_id={{filterForm.controls.region_id.value}}&city_id={{filterForm.controls.city_id.value}}&name={{filterForm.controls.name.value}}&tenders={{filterForm.controls.tenders.value}}&needs={{filterForm.controls.needs.value}}" mat-icon-button title="Скачать Exel">-->
    <a (click)="Download($event)" href="/api/download/" mat-icon-button title="Скачать Exel">
      <mat-icon>cloud_download</mat-icon>
    </a>
  </div>
  <div id="add_client">
      <button mat-raised-button color="primary" (click)="ShowDialogCreateClient()">Добавить</button>
  </div>
</div>
<div id="clients">
  <ul>
    <li *ngFor="let c of clients | filter:filterForm.controls | clientsSort">
      <app-client-item (eventDelete)="OnDeleteClient($event)" [model]="c"></app-client-item>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>