:host {
    height: 100%;
    display: grid;
    grid-template-rows: 80px 1fr;
}
#filters {
    padding:20px;
    position: relative;
    background-color: #fafafa;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}
#filters form {
    display: flex;
}
#filters form > div {
    margin-right:20px;
}

#download {
    display: inline-block;
    position: absolute;
    top:20px;
    right:160px;
    color: #3f51b5;
}

#download:hover {
    color: #4e515f;
}

#add_client {
    display: inline-block;
    position: absolute;
    top:20px;
    right:20px;
}

#clients {
    overflow:auto;
}

#clients ul {
    list-style:none;
    margin:20px;
    padding:0px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}
#clients ul li {
    border-top:1px #e0e0e0 solid;
}
#clients ul li:first-child {
    border-top:none;
}