@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/material-design-icons/iconfont/material-icons.css";

html,body {
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
}

.remove {
    color:#ee3333;
}